<ul class="nav nav-pills">
  <li class="pull-left"><h3 class="company-name">Kudo Maker, Inc</h3></li>

  <% if user_signed_in? %>
    <li class="pull-right"><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
    <li class="devise-user pull-right "><%=current_user.full_name%></li>
  <% else %>
    <li><%= link_to "Sign in", new_user_session_path %></li>
    <li><%= link_to "Sign up", new_user_registration_path %></li>
  <% end %>
</ul>